<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abercompany.smsforwarding">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".util.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SMS receiver -->
        <!-- <receiver android:name="SmsReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.provider.Telephony.SMS_RECEIVED" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <service android:name=".service.SmsService" />

        <receiver android:name=".receiver.BootCompletedIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.RoomDetailActivity" />
        <activity android:name=".activity.ContractActivity" />
        <activity android:name=".activity.RealtyActivity" />
        <activity android:name=".activity.AddCashActivity" />
        <activity android:name=".activity.ExistingContractActivity" />
        <activity android:name=".activity.RegisterPhoneNumActivity" />
        <activity android:name=".activity.SearchDefaulterActivity" />
        <activity android:name=".activity.SearchLeaveRoomActivity"></activity>
    </application>

</manifest>